html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: auto; /* Prevent margin collapsing on top element */
}
#coinspin {
  position:absolute;
  left: 500px;
  top: 300px;
  width: 100px;
  height: 100px;
  display: block;
  background-image: url("../images/coin.png");
  animation: coinspin .4s steps(6) infinite;
}
@keyframes coinspin {
 100% {
   background-position: -600px;
 }
}

#tigerPos {
  position:absolute;
  left: -3px;
  top: 53px;
  -webkit-transform: scale(.8);
}
#monkeyPos {
  position:absolute;
  left: -16px;
  top: 1px;
  -webkit-transform: scale(.8);
}

#cardPos1 {
  position:absolute;
  top:200px;
  left:560px;
}
#cardPos2 {
  position:absolute;
  top:200px;
  left:470px;
}

/* entire container, keeps perspective */
.flip-container {
  position:absolute;
  -webkit-perspective: 800;
}
  /* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
  }

.flip-container, .frontface, .backface {
  width: 72px;
  height: 90px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.frontface, .backface {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.frontface {
  z-index: 2;
  background-color: #FFF;
  border-radius: 7px;
  box-shadow: 0 2px 10px #D9D9D9;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.backface {
  background-color: #6CB6FF;
  border-radius: 7px;
  box-shadow: 0 2px 10px #D9D9D9;
  transform: rotateY(180deg);
}

.ingredient1{
  position:absolute;
  top: 0px;
  left: 0px;
  width: 72px;
}
.ingredient2{
  position:absolute;
  top: 30px;
  left: 0px;
  width: 72px;
}
.ingredient3{
  position:absolute;
  top: 60px;
  left: 0px;
  width: 72px;
}
.quantityWhite{
  position:absolute;
  left: 35px;
  top: -20px;
  font-family: 'omnesbold';
  color: #FFF;
  text-align: right;
  font-size: 2em;
  
}
.cardStrawberry{
  position:absolute;
  top: 3px;
  left: 6px;
  width: 22px;
  height: 22px;
}
.cardBanana{
  position:absolute;
  top: -6px;
  left: 0px;
  width: 32px;
  height: 32px;
  transform: rotate(20deg);
}
.cardApple{
  position:absolute;
  top: 2px;
  left: 5px;
  width: 22px;
  height: 22px;
}

.strawberry{
	position:absolute;
	top: 200px;
	left: 200px;
	width: 70px;
	height: 70px;
	transform: translate(-50%, -50%);
	z-index: 101;
	cursor: pointer;
}

.banana{
	position:absolute;
	top: 30px;
	left: 200px;
	width: 70px;
	height: 70px;
	transform: translate(-50%, -50%);
	z-index: 102;
	cursor: pointer;
}

.apple{
	position:absolute;
	top: 200px;
	left: 200px;
	width: 70px;
	height: 70px;
	transform: translate(-50%, -50%);
	z-index: 103;
	cursor: pointer;
}

.no-select{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select:none;
	user-select: none;
}
.addfood{
	position:absolute;
	top: 10px;
	left: 10px;
	z-index: 111px;
}

#blenderButton{
	position:absolute;
	top:257px;
	left:33px;
	text-decoration: none;
	z-index: 202;
}
#pitcherPour{
	position:absolute;
	width: 180px;
	height: 230px;
	top: -8px;
	left: 10px;
	z-index: 501;
}
#pitcherLift{
	position:absolute;
  z-index: 500;
}
#blenderBottom{
	position:relative;
	width: 200px;
	height: 220px;
	top: 200px;
	left: 11px;
	z-index: 200;
}
#blender{
	position:relative;
	top: 0px;
	left: 215px;
	width: 250px;
	height: 400px;
	z-index: 199;
}
#liquidMask{
  position:absolute;
  top:37px;
  left:47px;
  width: 106px;
  height: 190px;
  border-radius: 0 0 35px 35px;
  overflow: hidden;
  z-index: 6;
}

#liquidHolder{
	position:absolute;
   z-index: 7;
}

#liquidFill{
	position:absolute;
  top: 130px;
	width:300px;
	height:120px;

	background-color: #2354D6;
  z-index: 8;
}
.spillRotate{
	transform-origin: 0%, 50%;
	animation: spillRotate 3s ease-in-out 1;
}
@keyframes spillRotate {
	0% {
		transform: rotate(0deg);
	}
	20% {
		transform: rotate(0deg);
	}
	43% {
    border-radius: 5px;
		transform: rotate(-78deg);
	}
	55% {
		transform: rotate(-88deg);
	}
	100% {
		transform: rotate(-90deg);
	}
}
.spillDrop{
	transform-origin: 0%, 50%;
	animation: spillDrop 3s ease-in-out 1;
}
@keyframes spillDrop {
	0% {
		transform: translate(0px, 0px);
	}
  15% {
    transform: translate(0px, -9px);
  }
	40% {
		transform: translate(-24px, -43px);
	}
	94% {
		transform: translate(20px, -43px);
	}
	100% {
		transform: translate(140px, -43px);
	}
}

#streamHolder{
  position:absolute;
  top: 302px;
  left: 465px;
  height: 200px;
  width: 10px;
  border-radius: 0 5px 5px 5px;
}

#stream{
  position:absolute;
  width: 0px;
  height: 0px;
  border-radius: 4px;
}

.flow{
  transform-origin: 30% 100%;
  animation: flow 1.3s ease-in;
  -webkit-animation: flow 1.2s ease-in 1.28s;
}

@keyframes flow{
  0%{
    height: 8px;
    width: 8px;
    transform: translateY(0px);
  }
  60%{
    height: 200px;
    width: 8px;
    transform: translateY(10px);
  }
  100%{
    width: 5px;
    transform: translateY(200px);
  }

}

#wavemask {
	position:absolute;
	top: 150px;
	left: 47px;
  width: 106px;
  height: 108px;
	overflow: hidden;
	z-index: 5;
}

#wave {
	position:absolute;
	width:242px;
	height:17px;
}

.wavemover {
	animation: wave .5s;
		-webkit-animation: wave .5s; /* Safari and Chrome */
		animation-iteration-count: 10;
		animation-timing-function: linear;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-timing-function: linear;
}

@keyframes wave{
		0% {
			transform: translateX(-100px);
		}
		100%{
			transform: translateX(-50px);
		}
}

.shake{
	transform-origin: 50%, 90%;
	animation: shakey .1s ease-in-out 20 alternate;
}

@keyframes shakey {
	0% {
		transform: rotate(1deg);
	}
	100% {
		transform: rotate(-1deg);
	}
}

.lift {
	z-index: 400;
	transform-origin: 50%, 50%;
	animation: lift 3s ease-in-out 1;
}
@keyframes lift {
	0% {
		transform: translate(0px, 0px);
	}
	20% {
		transform: translate(0px, -60px);
	}
	40% {
		transform: translate(90px, -60px);
	}
	90% {
		transform: translate(90px, -60px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}

.pour{
	z-index: 401;
	transform-origin: 50%, 50%;
	animation: pour 3s ease-in-out 1;
}
@keyframes pour {
	0% {
		transform: rotate(0deg);
	}
	20% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(100deg);
	}
	87% {
		transform: rotate(104deg);
	}
	100% {
		transform: rotate(0deg);
	}
}


.chomper{
	position:relative;
	top: 100px;
	left: 220px;
	border-radius: 40px;
	width: 200px;
	height: 200px;
	/*visibility: "hidden";*/
  /*border: 2px dotted #FFF;*/
}


.spinner{
	animation: spinner 1s cubic-bezier(0.5, -0.5, 0.5, 1.5) 20;
}

@keyframes spinner{
	0% {transform: rotate(0);}
	100% {transform: rotate(-720deg);}
}

@keyframes splatterMove {
	0%{background-position: 0px;}
	100%{background-position: 2100px;}
}

#canvasHolder{
  position:relative;
}
.canvas {
  position:absolute;
  width: 860px;
  height: 650px;
  top: 58px;
  left: 50%;
  transform: translate(-50%);
  background-color: #B9DCFF;
  border-radius: 10px;
  box-shadow: 0 2px 10px #D9D9D9;
  z-index: -5;
}