.no-select{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select:none;
	user-select: none;
}
#blender{
	position:absolute;
	top: 70px;
	left: 300px;
}

#liquidsvg{
	position:absolute;
	width: 119px;
	left: 391px;
	top: 354px;
}
.wavemask {
	position:absolute;
	top: 337px;
	left: 391px;
	width: 119px;
	height: 110px;
	overflow: hidden;
}

.wave {
	width:240px;
	height:17px;
	background:url('../images/waves.svg') repeat-x;
	margin-top:0px;
}

.wavemover{
	width:240px;
	height:17px;
	background:url('../images/waves.svg') repeat-x;
	animation: wave .5s;
		-webkit-animation: wave .5s; /* Safari and Chrome */
		animation-iteration-count: 10;
		animation-timing-function: linear;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-timing-function: linear;
	}

	@keyframes wave
	{
		0% {transform: translate3d(0,0,0);}
		100% {transform: translate3d(-100px,0,0);}
	}

	@-webkit-keyframes wave /* Safari and Chrome */
	{
		0% {-webkit-transform: translate3d(0,0,0);}
		100% {-webkit-transform: translate3d(-100px,0,0);}
}


.shake{
	transform-origin: 50%, 90%;
	animation: shakey .1s ease-in-out 20 alternate;
}

@keyframes shakey {
	0% {
		transform: rotate(1deg);
	}
	100% {
		transform: rotate(-1deg);
	}
}


.chomper{
	position:absolute;
	top: 300px;
	left: 400px;
	border-radius: 40px;
	width: 100px;
	height: 100px;
	background-color: #FFF;
/*	animation: spinChomp 1s cubic-bezier(0.5, -0.5, 0.5, 1.5) infinite;
*/}

/*@keyframes spinChomp {
	0% {transform: rotate(0);}
	100% {transform: rotate(720deg); }
}*/

.spinner{
	animation: spinner 1s cubic-bezier(0.5, -0.5, 0.5, 1.5) 20;
}

@keyframes spinner{
	0% {transform: rotate(0);}
	100% {transform: rotate(-720deg);}
}

.foodA{
	position:absolute;
	top: 200px;
	left: 200px;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	transform: translate(-50%, -50%);
	background-color: #87FF9C;
	z-index: 1;
	cursor: pointer;
}
#letterA{
	position:relative;
	text-align: center;
	top: 18px;
	-webkit-user-select: none;
	font-size: 2em;
}

.foodB{
	position:absolute;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	transform: translate(-50%, -50%);
	background-color: #7D6DFF;
	z-index: 2;
	cursor: pointer;
	-webkit-user-select: none;
}
#letterB{
	position:relative;
	text-align: center;
	top: 18px;
	-webkit-user-select: none;
	font-size: 2em;
}

.foodC{
	position:absolute;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	transform: translate(-50%, -50%);
	background-color: #FC68FF;
	z-index: 3;
	cursor: pointer;
}
#letterC{
	position:relative;
	text-align: center;
	top: 18px;
	-webkit-user-select: none;
	font-size: 2em;
}

#splatterA {
	position: absolute;
	top: 100px;
	left: 300px;
}
#splatterB {
	position: absolute;
	top: 100px;
	left: 300px;
}
#splatterC {
	position: absolute;
	width: 50%;
	top: 100px;
	left: 300px;
}

#splatterMaskA {
	display: block;
	width: 305px;
	height: 210px;
	background: url('../images/greenSplat.png');
	animation: splatterMove 1s steps(9) infinite;
}
#splatterMaskB {
	display: block;
	width: 305px;
	height: 210px;
	background: url('../images/purpleSplat.png');
	animation: splatterMove 1s steps(9) infinite;
}
#splatterMaskC {
	display: block;
	width: 305px;
	height: 210px;
	background: url('../images/pinkSplat.png');
	animation: splatterMove 1s steps(9) infinite;
}

@keyframes splatterMove {
	0%{background-position: 0px;}
	10%{background-position: 2745px;}
}

