/*COP*/
#cop_head {
	position:absolute;
	top:0px;
}
#cop_hat {
	position:absolute;
	top:0px;
}
#cop_eyes {
	position:absolute;
	top:0px;
}
#cop_mustache {
	position:absolute;
	top:1px;
}
#cop_smile {
	position:absolute;
	top:1px;
}

/*FISHERMAN*/
#fisherman_head {
	position:absolute;
	top:0px;
}
#fisherman_eyesOpen {
	position:absolute;
	top:0px;
}
#fisherman_smile {
	position:absolute;
	top:0px;
}
#fisherman_hat {
	position:absolute;
	top:1px;
}
#fisherman_beard {
	position:absolute;
	top:0px;
}
#fisherman_pipe {
	position:absolute;
	top:0px;
}
#fisherman_bubble {
	position:absolute;
	top:0px;
}


/*REDHEAD*/
#redhead_head {
	position:absolute;
	top:-10px;
	left:0px;
	animation: 1s ease-in-out infinite alternate redhead_roll;
}
@keyframes redhead_roll{
	0%{
		transform: rotate(5deg);
	}
	50%{
		transform: rotate(-5deg);
	}
}
#redhead_eyesOpen {
	position:absolute;
	top:-2px;
	left:0px;
	transform-origin: 50% 55%;
	animation: 4s ease-out infinite alternate redhead_eyesOpen;
}
@keyframes redhead_eyesOpen{
	0%{
		transform: scale(1,1);
	}
	45%{
		transform: scale(1,1);
	}
	50%{
		transform: scale(1,0);
	}
	100%{
		transform: scale(1,0);
	}
}
#redhead_eyesClosed {
	position:absolute;
	top:-2px;
	left:0px;
	transform-origin: 50% 52%;
	animation: 4s ease-out infinite alternate redhead_eyesClosed;
}
@keyframes redhead_eyesClosed {
	0%{
		transform: scale(1,0);
	}
	42%{
		transform: scale(1,0);
	}
	48%{
		transform: scale(1,1);
	}
	100%{
		transform: scale(1,1);
	}
}
#redhead_mouth {
	position:absolute;
	top:-1px;
	left:0px;
	width: 64px;
	height: 125px;
	transform-origin: 50% 50%;
	animation: 4s ease-in-out infinite alternate chewing;
}
@keyframes chewing{
	0%{
		transform: scale(1.2,1.2);
	}
	5%{
		transform: scale(.2,.2);
	}
	10%{
		transform: scale(1.2,1.2);
	}
	15%{
		transform: scale(.2,.2);
	}
	20%{
		transform: scale(1.2,1.2);
	}
	25%{
		transform: scale(.2,.2);
	}
	30%{
		transform: scale(1.2,1.2);
	}
	100%{
		transform: scale(1.2,1.2);
	}
}
#redhead_bubble {
	position:absolute;
	top:-1px;
	left:0px;
	width: 63px;
	height: 130px;
	animation: 4s ease-in-out infinite alternate blowbubble;
}
@keyframes blowbubble{
	0%{
		transform: scale(0, 0);
	}
	10%{
		transform: scale(0, 0);
	}
	100%{
		transform: scale(1.2, 1.2);
	}
}
#redhead_tail {
	position:absolute;
	top:0px;
	left:0px;
	transform-origin: 50% 20%;
	animation: .5s ease-in-out infinite alternate redhead_tailwag;
}
@keyframes redhead_tailwag{
	0%{
		transform: scaleY(.9);
	}
	100%{
		transform: scaleY(1);
	}
}

/*TIGER*/
#tigerhead {
	position:absolute;
	width: 100px;
	transform-origin: 50%, 50%;
	animation: 1s ease-in-out infinite alternate tigeroll;
}
@keyframes tigeroll {
	0% {
		transform: rotate(7deg);
	}
	100% {
		transform: rotate(-7deg);
	}
}
#tigerheadbkgrd {
	position:absolute;
	width: 100px;
	top: -60px;
}
#tigereye1 {
	top: -60px;
	position:absolute;
	width: 100px;
	animation: 2s ease-in-out infinite tigereyeopen;
	transform-origin: 36% 40%;
}
@keyframes tigereyeopen {
	0% {
		transform: scale(1, 1);
	}
	50% {
		transform: scale(1, 1);
	}
	60% {
		transform: scale(0);
	}
	80% {
		transform: scale(0);
	}
	90% {
		transform: scale(1, 1);
	}
	100% {
		transform: scale(1, 1);
	}
}
#tigereye1closed {
	top: -58px;
	position:absolute;
	width: 100px;
	animation: 2s ease-in-out infinite tigereyeclosed;
	transform-origin: 36% 40%;
}
@keyframes tigereyeclosed {
	0% {
		transform: scale(0);
	}
	50% {
		transform: scale(0);
	}
	60% {
		transform: scale(1 ,1);
	}
	80% {
		transform: scale(1, 1);
	}
	90% {
		transform: scale(0);
	}
	100% {
		transform: scale(0);
	}
}
#tigereye2 {
	top: -60px;
	position:absolute;
	width: 100px;
	left: 28px;
	animation: 2s ease-in-out infinite tigereyeopen2;
	transform-origin: 36% 40%;
}
@keyframes tigereyeopen2 {
	0% {
		transform: scale(1, 1);
	}
	50% {
		transform: scale(1, 1);
	}
	60% {
		transform: scale(0);
	}
	80% {
		transform: scale(0);
	}
	90% {
		transform: scale(1, 1);
	}
	100% {
		transform: scale(1, 1);
	}
}
#tigereye2closed {
	top: -58px;
	position:absolute;
	width: 100px;
	left: 28px;
	animation: 2s ease-in-out infinite tigereyeclosed2;
	transform-origin: 36% 40%;
}
@keyframes tigereyeclosed2 {
	0% {
		transform: scale(0);
	}
	50% {
		transform: scale(0);
	}
	60% {
		transform: scale(1 ,1);
	}
	80% {
		transform: scale(1, 1);
	}
	90% {
		transform: scale(0);
	}
	100% {
		transform: scale(0);
	}
}
#tigersmile {
	top: -60px;
	position:absolute;
	width: 100px;
	animation: 2s ease-in-out infinite tigersmile;
}
@keyframes tigersmile {
	0% {
		transform: scaleX(.7);
	}
	50% {
		transform: scaleX(.7);
	}
	60% {
		transform: scaleX(1);
	}
	80% {
		transform: scaleX(1);
	}
	90% {
		transform: scaleX(.7);
	}
	100% {
		transform: scaleX(.7);
	}
}

/*MONKEY*/
#monkeyholder {
	position:absolute;
	width: 100px;
	animation: 2s ease-in-out infinite monkeylaugh;
}
@keyframes monkeylaugh{
	0% {
		transform: translateY(10px);
	}
	45% {
		transform: translateY(10px);
	}
	50% {
		transform: translateY(0px);
	}
	55% {
		transform: translateY(10px);
	}
	60% {
		transform: translateY(0px);
	}
	65% {
		transform: translateY(8px);
	}
	70% {
		transform: translateY(0px);
	}
	75% {
		transform: translateY(7px);
	}
	100%{
		transform: translateY(10px);
	}
}

#monkeyhead {
	position:absolute;
	width: 100px;
	left: 15px;
	top: 5px;
}
#monkeyeye1 {
	position:absolute;
	width: 100px;
	left: 0px;
	top: 0px;
	animation: 2s ease-in-out infinite monkeyclose1;
}
@keyframes monkeyclose1 {
	0% {
		transform: scaleY(1);
	}
	45% {
		transform: scaleY(1);
	}
	50% {
		transform: scaleY(.2);
	}
	95% {
		transform: scaleY(1);
	}
	100% {
		transform: scaleY(.2);
	}
}

#monkeyeye2 {
	position:absolute;
	width: 100px;
	left: 15px;
	top: 0px;
	animation: 2s ease-in-out infinite monkeyclose2;
}
@keyframes monkeyclose2 {
	0% {
		transform: scaleY(1);
	}
	45% {
		transform: scaleY(1);
	}
	50% {
		transform: scaleY(.2);
	}
	95% {
		transform: scaleY(1);
	}
	100% {
		transform: scaleY(.2);
	}
}

#monkeymouthsmile {
	position:absolute;
	width: 100px;
	top: 0px;
	animation: 2s ease-in-out infinite monkeysmile;
	transform-origin: 50% 70%;
}
@keyframes monkeysmile{
	0% {
		transform: scale(0);
	}
	50% {
		transform: scale(0);
	}
	51% {
		transform: scale(.5, .7);
	}
	70% {
		transform: scale(1, 1);
	}
	100% {
		transform: scale(1, 1);
	}
}
#monkeymouthoh {
	position:absolute;
	width: 100px;
	top: 0px;
	animation: 2s ease-in-out infinite monkeyoh;
	transform-origin: 50% 70%;
}
@keyframes monkeyoh{
	0% {
		transform: scale(1, 1);
	}
	20% {
		transform: scale(.5, .5);
	}
	30% {
		transform: scale(1, 1);
	}
	40% {
		transform: scale(.5, .5);
	}
	50% {
		transform: scale(1, 1);
	}
	55% {
		transform: scale(0, 0);
	}
	100% {
		transform: scale(0, 0);
	}
}

}